.dropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.button{
  width: 50rem;
}

.dropdown-menu{
  overflow-y: auto;
  max-height: 25rem;
  max-width: 100rem;
}

.dropdown-menu:hover{
  cursor: pointer;
}

#recommendations{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
}
